<% content_for :title, "Bookings | Fulham Bed & Breakfast" %>
<% content_for :description, "Bookings at Fulham Bew and Brekafast" %>

<h1>Bookings</h1>

<% if user_signed_in? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start time</th>
        <th>End time</th>
        <th colspan="3">Admin Options</th>
      </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.name %></td>
          <td><%= booking.start_time %></td>
          <td><%= booking.end_time %></td>
          <td><%= link_to 'Show', booking, class: 'btn btn-info' %></td>
          <td><%= link_to 'Edit', edit_booking_path(booking), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <div class="text-center">
    <%= link_to 'New Booking', new_booking_path, class: 'btn btn-success btn-lg' %>
  </div>

<% end %>

<br />

<div class="table-responsive">
  <%= month_calendar events: @bookings do |date, events| %>
    <%= date.day %>

    <% events.each do |booking| %>
      <div>
        <%= booking.name %>
      </div>
    <% end %>
  <% end %>
</div>

<br />