<% content_for :title, "#{@page.title} | Fulham Bed & Breakfast" %>
<% content_for :description, "#{@page.meta}" %>

<h1><%= @page.title %></h1>

<% if @page.image? %>
  <%= render 'image', page: @page %>
<% end %>

<%= raw(auto_link(@page.content, html: { target: '_blank' })) %> 

<% if @page.map? %>
  <%= render 'map', page: @page %>
<% end %>

<% if user_signed_in? %>
  <div class="alert alert-dark">
    
    <%= link_to 'Edit', edit_page_path(@page), class: 'btn btn-warning' %>
    <%= link_to 'Back', pages_path, class: 'btn btn-secondary' %>
  </div>
<% end %>

<br />
<br />

