<% content_for :title, "#{@page.title} | Fulham Bed & Breakfast" %>
<% content_for :description, "#{@page.meta}" %>

<h1><%= @page.title %></h1>

<% if @page.image? %>
  <%= render 'image', page: @page %>
<% end %>

<%= raw(auto_link(@page.content, html: { target: '_blank' })) %>

<% if @page.map? %>
  <%= render 'map', page: @page %>
<% end %>

<% if user_signed_in? %>

  <hr>

  <br />
  <br />
  <%= link_to 'Add Photos', '#PhotoModal', 'data-toggle' => 'modal', class: 'btn btn-info' %> | 
  <%= link_to 'Edit', edit_page_path(@page), class: 'btn btn-warning' %> | 
  <%= link_to 'Back', pages_path, class: 'btn btn-secondary' %>
<% end %>

<br />
<br />

<!-- PhotoModal -->
<div class="modal fade" id="PhotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @photo, url: page_photos_path(@page) do |f| %>
        <div class="modal-body">
          <%= f.input :picture %>
          <%= f.input :caption %>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add Photo", class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>