<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || 'Fulham Bed and Breakfast' %></title>
    <meta name='description' content="<%= yield(:description).presence || 'Fulham bed and breakfast for a luxary stay in London' %>" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type => 'image/png' %>
    <script src="https://cdn.quilljs.com/1.1.9/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

    <div id="flex-content-container">
      <div class="container">
        <header class="blog-header py-3">
          <div class="col-12 col-md-6 offset-md-3 text-center">              
            <%= link_to root_path do %>
              <%= image_tag 'bandb.png', class: 'img-fluid mx-auto d-block', alt: 'Bed and Breakfast' %>
            <% end %>
          </div>
        </header>

        <div class="row justify-content-md-center">
          <div class="nav-scroller py-1 mb-2 col-md-9">
            <nav class="nav d-flex justify-content-between">            
              <% @pages.each do |page| %>
                <%= link_to page.title, page_url(page) , class: 'p-2 text-muted' %>
              <% end %>
              <%= link_to 'Bookings', '/bookings', class: 'p-2 text-muted' %>
              <%= link_to 'Contact', '/contacts/new' , class: 'p-2 text-muted' %>
            </nav>
          </div>
        </div>

        <br/>
        <% if notice.present? %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      
        <%= yield %>

      </div>

      <footer class="blog-footer">
        <% if user_signed_in? %>
          <%= link_to 'Admin Portal', pages_path, class: '' %>
          |
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: '' %>
        <% else %>
          <%= link_to 'Admin', new_user_session_path, class: '' %>
        <% end %>
        <p>&copy; Fulham Bed and Breakfast <%= Date.today.year %></p>
      </footer>

    </div>
  </body>
</html>
